body{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#console{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:calc(100% - 55px);
  overflow:auto;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-family: monospace;
  font-size: 12px;
  line-height: 14px;
  
}
#chat-input{
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  height:30px;
  background-color: #000;
  color: #fff;
  font-family: monospace;
  font-size: 12px;
  line-height: 14px;
  outline: none;
  padding: 5px;
}

#register-box-container{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(68, 67, 67);
  
}
#register-input{
  font-size: 20px;
  font-family: monospace;
  color: #fff;
  background-color: #000;
  width: 500px;
  height: 50px;
  text-align: center;
  outline: none;
}